body {
  background-color: #fff; 
  height: 9000px;
  h1 {
    color: yellow;
    line-height: 90px;
    background-color: #000; 
  }
  .Dig {
  	background-image: url(../images/slice/1.png);
  	background-size: 50px;
  }
  .pig {
  	background-image: url(../images/slice/2.png);
  }
}
